@{
    Layout = "BaseMail";
}
    <p>Liebe/r  Dozent/in,</p>
    <br />
    <p>im Schulungsportal hat der/die Teilnehmer/in "@Model.Anmeldung.Vorname @Model.Anmeldung.Nachname" die Teilnahme an der Schulung "@Model.Schulung.Titel" abgesagt.</p>
    @if (Model.Begruendung != null) {
        <br />
        <p>Nachricht des Teilnehmers:</p>
        <p>@Model.Begruendung</p>
    }
    <br />
    <p>Diese Email wurde automatisch generiert, bitte nicht antworten. Bei Fragen wende dich bitte an <a href="mailto:@Schulungsportal_2.Services.AuthMessageSender.adresseSchulungsbeauftragter">@Schulungsportal_2.Services.AuthMessageSender.adresseSchulungsbeauftragter</a>.</p>