@{
    Layout = "BaseMail";
}
    <p>Liebe/r  Dozent/in,</p>
    <br />
    <p>im Schulungsportal wurde die Schulung "@Model.Schulung.Titel" angelegt. Hier ist die <a href="@Model.TeilnehmerListeUrl">Teilnehmerliste</a></p>
    <br />
    <p>Beschreibung:</p>
    <p style="white-space:pre">@Model.Schulung.Beschreibung</p>
    <br />
    @if (Model.Schulung.Termine.Count == 1)
    {
        @*Linq extensions doesn't work, but it does work this way...*@
        var termin = System.Linq.Enumerable.First(Model.Schulung.Termine);
        <p>Termin: @termin.FormatFromStartToEnd() </p>
    }
    else
    {
        <p>Termine:</p>
        <ul>
            @foreach (var termin in Model.Schulung.Termine)
            {
                <p>Termin: @termin.FormatFromStartToEnd() </p>
            }
        </ul>
    }
    <br />
    <p>Diese Email wurde automatisch generiert, bitte nicht antworten. Bei Fragen wende dich bitte an <a href="mailto:@Schulungsportal_2.Services.AuthMessageSender.adresseSchulungsbeauftragter">@Schulungsportal_2.Services.AuthMessageSender.adresseSchulungsbeauftragter</a>.</p>
