@* ImpressumBearbeiten.cshtml: Diese View wird verwendet, um das Impressum anzupassen. Sie besteht aus Textareas, die bereits mit den alten Texten des Impressums gefüllt sind.*@
@* Diese View verwendet das Model "Impressum.cs"*@
@model Schulungsportal_2.Models.Impressum

@{
    ViewData["Title"] = "Impressum Bearbeiten";
}

<h2>@ViewData["Title"]</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.id) @* Die ID des Impressums wird nicht angezeigt, aber beim Speichern versteckt mitgegeben.*@
        <div class="form-horizontal">
            @* Label und Eingabefeld für Verantwortungsbereich*@
            <div class="form-group">
                @Html.LabelFor(model => model.Verantwortungsbereich , htmlAttributes: new { @class = "col-md-2 control-label"}) 
                <div class="col-md-5">
                    @Html.TextAreaFor(model => model.Verantwortungsbereich, htmlAttributes: new { @class = "text-box multi-line", @style = "width: 456px; height: 70px" })
                </div>
                <div class="col-md-5"></div>
            </div>

            @* Label und Eingabefeld für Dienstanbieter*@
            <div class="form-group">
                @Html.LabelFor(model => model.Dienstanbieter, htmlAttributes: new { @class = "col-md-2 control-label" })
                <div class="col-md-5">
                    @Html.TextAreaFor(model => model.Dienstanbieter, htmlAttributes: new { @class = "text-box multi-line", @style = "width: 456px; height: 70px" })
                </div>
                <div class="col-md-5"></div>
            </div>

            @* Label und Eingabefeld für Vorstand*@
            <div class="form-group">
                @Html.LabelFor(model => model.Vorstand, htmlAttributes: new { @class = "col-md-2 control-label" })
                <div class="col-md-5">
                    @Html.TextAreaFor(model => model.Vorstand, htmlAttributes: new { @class = "text-box multi-line", @style = "width: 456px; height: 70px" })
                </div>
                <div class="col-md-5"></div>
            </div>

            @* Label und Eingabefeld für Anschrift*@
            <div class="form-group">
                @Html.LabelFor(model => model.Anschrift, htmlAttributes: new { @class = "col-md-2 control-label" })
                <div class="col-md-5">
                    @Html.TextAreaFor(model => model.Anschrift, htmlAttributes: new { @class = "text-box multi-line", @style = "width: 456px; height: 70px" })
                </div>
                <div class="col-md-5"></div>
            </div>

            @* Label und Eingabefeld für KontaktEMail*@
            <div class="form-group">
                @Html.LabelFor(model => model.KontaktEMail, htmlAttributes: new { @class = "col-md-2 control-label" })
                <div class="col-md-5">
                    @Html.TextAreaFor(model => model.KontaktEMail, htmlAttributes: new { @class = "text-box multi-line", @style = "width: 456px; height: 70px" })
                </div>
                <div class="col-md-5"></div>
            </div>

            @* Label und Eingabefeld für Kommunikation*@
            <div class="form-group">
                @Html.LabelFor(model => model.Kommunikation , htmlAttributes: new { @class = "col-md-2 control-label" })
                <div class="col-md-5">
                    @Html.TextAreaFor(model => model.Kommunikation, htmlAttributes: new { @class = "text-box multi-line", @style = "width: 456px; height: 70px" })
                </div>
                <div class="col-md-5"></div>
            </div>

            @* Label und Eingabefeld für JournalistischeVerantwortung*@
            <div class="form-group">
                @Html.LabelFor(model => model.JournalistischeVerantwortung, htmlAttributes: new { @class = "col-md-2 control-label" })
                <div class="col-md-5">
                    @Html.TextAreaFor(model => model.JournalistischeVerantwortung, htmlAttributes: new { @class = "text-box multi-line", @style = "width: 456px; height: 70px" })
                </div>
                <div class="col-md-5"></div>
            </div>
        </div>

        @* "Speichern"- Button*@
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Speichern" class="btn btn-default" />
            </div>
        </div>
}